<!doctype html>
<html ng-app="trainingVehicles">
<head>
  <title>Leroi-Training</title>
  <script src="lib/angular.js"></script>
  <script src="app.js"></script>
  <script src="controllers/VehiclesController.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="container" ng-controller="VehiclesCtrl">
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline" role="form">
          <div class="form-group">
            <input ng-model="query" type="text" class="form-control" placeholder="Search">
          </div>
        </form>
        <div class="row">
          <div class="col-md-12">
            <h2>Vehicle List</h2>
          </div>
          <div class="col-md-4">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Year</th>
                  <th>Make</th>
                  <th>Model</th>
                  <th>StockNumber</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in vehicles | filter:query">
                  <td>{{item.year}}</td>
                  <td>{{item.make}}</td>
                  <td>{{item.model}}</td>
                  <td><a href="http://127.0.0.1:8080/{{item.stocknumber}}">{{item.stocknumber}}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
