<!doctype html>
<html ng-app="trainingVehicles">
<head>
  <title>Leroi-Training</title>
  <script src="lib/angular.js"></script>
  <script src="app.js"></script>
  <script src="js/VehiclesController.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="container" ng-controller="VehiclesCtrl">
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline" role="form">
          <div class="form-group">
            <input ng-model="query" type="text" class="form-control" placeholder="Search">
          </div>
        </form>
        <div class="row">
          <div class="col-md-12">
            <h2>Vehicle List</h2>
          </div>
          <div class="col-md-12">
            <ul>
              <li ng-repeat="item in vehicles | filter:query">
                <div>{{item.year}} {{item.make}} {{item.model}} ({{item.stocknumber}})</div>
                <ul>
                  <li ng-repeat="imageUrl in item.images[item.stocknumber]"><img src="{{imageUrl}}" /></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
