

<h2>Vehicle Details</h2>

<a href="#/list"><< Back To List</a>

<table border="1" cellpadding="2" cellspacing="0">
  <thead>
    <tr>
      <th>Details</th>
      <th>Photos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      <p>Year</p>
      <p>Make</p>
      <p>Model</p>
      </td>


      <td ng-repeat="item in vehicles | filter:'CM999'" width="400">
        <div ng-repeat="i in item.images[item.stocknumber] | filter:'-1'" style="float:left;padding:5px;"><img width="400" src={{i}}/></div>
        <div ng-repeat="i in item.images[item.stocknumber]" style="float:left;padding:5px;"><a class="fancybox" href={{i}}><img width="90" src={{i}}/></a></div>

      </td>
    </tr>
  </tbody>
</table>
